---
Checks: >
  -*,
  -bugprone-*,
  -performance-*,
  -readability-*,
  cppcoreguidelines-*,
  cppcoreguidelines-avoid-c-arrays,
  cppcoreguidelines-avoid-capturing-lambda-coroutines,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-avoid-do-while,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-avoid-reference-coroutine-parameters,
  cppcoreguidelines-c-copy-assignment-signature,
  cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-to-enum,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-misleading-capture-default-by-value,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-no-malloc,
  cppcoreguidelines-no-suspend-with-lock,
  cppcoreguidelines-noexcept-destructor,
  cppcoreguidelines-noexcept-move-operations,
  cppcoreguidelines-noexcept-swap,
  cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  cppcoreguidelines-pro-bounds-constant-array-index,
  cppcoreguidelines-pro-bounds-pointer-arithmetic,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-use-default-member-init,
  cppcoreguidelines-use-enum-class,
  cppcoreguidelines-virtual-class-destructor,
  -clang-analyzer-*,
  modernize-*,
  modernize-avoid-bind,
  modernize-avoid-c-arrays,
  modernize-avoid-c-style-cast,
  modernize-avoid-setjmp-longjmp,
  modernize-avoid-variadic-functions,
  modernize-concat-nested-namespaces,
  modernize-deprecated-headers,
  modernize-deprecated-ios-base-aliases,
  modernize-loop-convert,
  modernize-macro-to-enum,
  modernize-make-shared,
  modernize-make-unique,
  modernize-min-max-use-initializer-list,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-replace-auto-ptr,
  modernize-replace-disallow-copy-and-assign-macro,
  modernize-replace-random-shuffle,
  modernize-return-braced-init-list,
  modernize-shrink-to-fit,
  modernize-type-traits,
  modernize-unary-static-assert,
  -modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-constraints,
  modernize-use-default-member-init,
  modernize-use-designated-initializers,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-integer-sign-comparison,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-ranges,
  modernize-use-scoped-lock,
  modernize-use-starts-ends-with,
  modernize-use-std-format,
  modernize-use-std-numbers,
  modernize-use-std-print,
  modernize-use-trailing-return-type,   # often too noisy
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-qualified-auto
ExcludeHeaderFilterRegex: 'build/'
WarningsAsErrors: false 
CheckOptions:    {}
SystemHeaders:   false
...

